<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<title>Source Judger</title>
<body>
<script  type="text/javascript" src="{{ url_for('static', filename='updator.js') }}"></script>
<div id=wrapper>
<div id=input>
<label for "Input_Text">Enter text here...</label>
<textarea id="Input_Text"></textarea><br>
<input type="checkbox" id="names", name="names", value="True">
<label for="names"> Exclude Proper Nouns? (beta)</label><br>
<div><button onclick="process()">Submit</button></div>
</div>
<div id="output">
</div>
</div>
</body>
</html>