<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<link
  rel="stylesheet"
  href="https://unpkg.com/@ag-grid-community/all-modules@26.0.0/dist/styles/ag-grid.css" />

<link
  rel="stylesheet"
  href="https://unpkg.com/@ag-grid-community/all-modules@26.0.0/dist/styles/ag-theme-alpine.css" />

<title>Source Judger</title>

<body>
<!-- <script  type="text/javascript" src="{{ url_for('static', filename='scripts/updator.js') }}"></script> -->

<div id="input-container">

</div>

<script  type="text/javascript" src="{{ url_for('static', filename='scripts/min.js') }}"></script>

</body>
</html>